.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.break{
  flex-basis:10%;
  height:0;
}
.main_component{
  height:100vh;
  grid-template-columns: repeat(2, 1fr); /* Két oszlop, egyenlően elosztva */
  grid-gap: 20px;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.image {
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

