<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<ng-content></ng-content>
<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Kontakt</mat-card-title>
           <p><mat-card-subtitle>Cím: 6044 Kecskemét, Ajtony utca 34</mat-card-subtitle></p> 
        </mat-card-header>

        <mat-card-content>
            <p><mat-icon>call</mat-icon>+36 20 513 6543</p>
            <p><mat-icon>email</mat-icon>test&commat;gmail.com</p>
        </mat-card-content>
    </mat-card>
</div>
</body>
</html>
