<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedINUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="cim">Körmök világa</div>
    <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px"  class="navigation">
        <li *ngIf="!(loggedINUser)"><a routerLink="/belepes">Belépés</a></li>
        <li *ngIf="(loggedINUser)"><a routerLink="/belepes" (click)="logout()">Kilépés</a></li>
        <li><a routerLink="/regisztracio">Regisztráció</a></li>
        <li><a routerLink="/fooldal">Főoldal</a></li>
        <li><a routerLink="/rolam">Rólam</a></li>
        <li><a routerLink="/munkak">Munkák</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
        <li><a routerLink="/idopont">Időpont</a></li>
        <li><a routerLink="/arlista">Árlista</a></li>
      </ul>
    </div>

  </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
</body>
</html>