<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
<div class="main_component">
    <div class="text_container">
        <p>Üdvözöllek az oldalon :)</p>
        <p>Merülj el a körmök világába, és gyere el hozzám egy csajos kikapcsolódásra.</p>
        <button class="redirect_button" (click)="booking()">Időpontfoglalás</button>
    </div>
    <div class="image_overlay"></div>
    <img src="./assets/kormos.jpeg" class="responsive_image">
</div>
</body>
</html>
